#container{
    margin-top: 20px;
    margin-left: 20px;
    font-family: roboto,sans-serif;
    color: rgb(99, 96, 93);
    padding: 20px;

}
hr{
    margin-left: 30px;
    margin-right: 30px;
}
.footer-column {
    display: inline-block;
    width: 25%;
    padding-left: 10px;
  }

  .footer-column:first-child {
    width: auto;
  }

  img {
    max-width: 80%;
    height: auto;
  }
  button {
    margin: 10px auto;
    height: 35px;
    border-radius: 20px;
    border-color: rgb(249, 146, 1) ;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color:  rgb(249, 146, 1);
    width: 93%;
}
button:hover{
    background-color:  rgb(248, 179, 82);  
}
form{
    margin-top: 33px;
}
#container input{
    width: 90%;
    height: 30px;
    border-radius: 6px;
    
}
#container input::placeholder{
    color:rgb(249, 146, 1);
    font-size: medium;
    padding-left: 5px;
}

