<div id="container">
    <h1>Побарај понуда!</h1>
    <form>
        <div id="field"><input type="text" placeholder="Име и Презиме"></div>
        <div id="field"><input type="text" placeholder="Телефон"><input type="text" placeholder="Е-маил"></div>
        <div id="field"><input type="text" placeholder="Држава"></div>
        <div id="field"><input type="date" name="date_picker"><input type="date" name="date_picker"></div>
        <div id="field"><input type="number" placeholder="Возрасни"><input type="number" placeholder="Деца"></div>
        <div id="field"><textarea placeholder="Дополнителни Информации" cols="157" rows="10"></textarea></div>
        <button class="baranje" onclick="alert('Испратено е барање!')">Испрати барање</button>
    </form>