<div id="container">
    <h1>Зошто да патувате со нас?</h1>
    <div id="content">
        <div class="column">
            <img src="../../assets/pic1.png" width="40" height="50">
            <h2>ПРОФЕСИОНАЛНА УСЛУГА</h2>
            <p>Со нашето искуство и кадровската професионалност, континуирано ја потврдуваме востановената синтагма, за "Комплетен туристички сервис".</p>
        </div>
        <div class="column">
            <img src="../../assets/pic2.png" width="50" height="50">
            <h2>ПОСТОЈАНА ПОДДРШКA</h2>
            <p>Одговорноста и грижата за своите клиенти, секојдневно ја докажуваме со постојаната поддршка и достапност на нашите вработени.</p>
        </div>
        <div class="column">
            <img src="../../assets/pic3.png" width="50" height="50">
            <h2>ПОВОЛНИ ЦЕНИ</h2>
            <p>Прифатливите цени, во реална корелација со понудените услуги и аранжмани, најдобро ги дефинира огромниот број на постојани корисници.</p>
        </div>
    </div>
</div>


